h1 {
    color: blue;
    background-color: #def;
}
h2 {
    color: greenyellow;
    background-color: #def;
}
    p {
    color: #2EFEF7;
    width: 300px;
}
    p {
    color: #FE2E9A;
    width: 300px;
}